<div class="statics-wrapper">
	<div class="about-content-wrapper">
		<h1 class="heading-lined heading-lined--primary">About Tech Maturity</h1><br>
		<div class="about-left-pane">
			<h1 class="text-center"><b>Getting to Innovation Faster</b></h1><br>
			<p >Tech Maturity is an open source portal that measures the progress and maturity of their product allowing companies of any size to:</p>
			<ul>
				<li>Spend more time innovating, and less time being “busy” with repetitive, manual tasks</li>
				<li>Use a common set of standards to drive business results</li>
				<li>Increase visibility for better decision making</li>
				<li>Gravitate towards consistency across teams and products</li>
				<li>Use standard components over custom-built solutions</li>
				<li>Invest in fixing root causes and not just the symptoms</li>
			</ul>	
			<p class="text-justify">Tech Maturity helps us identify growth opportunities to eliminate waste, set clearly defined targets, and measure progress all while we work toward the ultimate goal of continuous delivery.</p>
			<p class="text-justify">The model charts a clear path that can be completed in stages and allows flexibility for progressing through five key dimensions of software development: Code, Build & Test, Release, Operate, and Optimize.</p>
			<p class="text-justify">For Ticketmaster’s move to the public cloud, the model served as a “cloud readiness" gauge that quantifies how close a product is to being ready for migration. This was achieved by establishing targets for a subset of capabilities that we believe define the minimum requirements for any product or service in the public cloud. This gives teams who own legacy products a clear goal to work toward that they can easily track. It also allows the company to operate in a decentralized, self-service way so that teams can run with their migrations without delay.</p>
			<p class="text-justify">You can’t tell if you’re winning without a scoreboard, so we created a portal to gather, aggregate, and display patterns from the data assembled and made it visible to everyone in the company. Strategically, Tech Maturity provides a key indicator of our performance so that we can continually make value-driven improvements.</p>
			<p class="text-justify">The best thing about our model is that it does not prescribe solutions. Rather, it offers standards with an aim to give teams a clear path towards efficient product development at scale. The model can be easily tailored to meet your specific needs. Ticketmaster has technology ranging from the 1970’s to today, and we have been able to successfully apply this model to products ranging from VAX code to JavaScript libraries. It’s a great vehicle for sharing and rallying around a common vision</p>
			<p class="text-justify">We’re excited to see the response from the community, and are thrilled to share this tool with others.</p>
			<div class="video-wrapper text-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LLAg_LxuBzM" frameborder="0" allowfullscreen></iframe>
			</div>
			<br><br>

			<h1 class="text-center"><b>Frequently Asked Questions</b></h1><br><br>

			<h3 id="question1" class="about-header"><b>What is Tech Maturity?</b></h3><br>
			<p class="text-justify">Tech Maturity values automation, repeatability, and visibility over manual, repetitive tasks. The Tech Maturity model represents a set of standards for product delivery teams to target as part of feature development. When teams de-prioritize these standards, they accept the risk of paying “tax” later in the form of fighting fires, longer release cycles, and limited visibility into the health and performance of the product. By investing time to remove these distractions from occurring in the first place, teams find that they have more time to put towards what they love most...building awesome products that delight our clients and fans!</p>
			<p class="text-justify">Simply put, Tech Maturity helps teams identify growth opportunities for their products by eliminating waste, prepare for the AWS migration, and “level up” to the ultimate goal: continuous delivery.</p>

			<h3 id="question2" class="about-header"><b>How can an organization use this data to drive innovation?</b></h3><br>
			<p class="text-justify">Tech Maturity represents the prioritization of where we want to be as a tech company. We use this data to gain insight and visibility into our product portfolio and infrastructure footprint so we can make data-based decisions around strategic investments that “level up” maturity across the company.</p>
			<p class="text-justify">At Ticketmaster, teams self-assess their products to determine growth opportunities and set goals to achieve them. Based on the scores, products are given a “cloud readiness” rating and teams use the data to help inform their roadmap eg. list of items to address in preparation for migrating off on-prem infrastructure to the public cloud. </p><br>

			<h3 id="question3" class="about-header"><b>How can teams use this data?</b></h3><br>
			<p class="text-justify">Convincing a Product or Business Owner why time should be prioritized towards initiatives that are often considered "tech tasks" can be difficult, especially when unarmed with the facts. The Tech Maturity model is designed to be a communication tool for teams to quantify value and justify the work needed to improve their technology.</p>
			<p class="text-justify">Equipped with this data, you can now negotiate for prioritization by using the argument “if we invest X amount of time improving our test suite, we will get back the X amount of time wasted on manual tests every release." Now, that’s a compelling argument anyone can get behind!</p><br>

			<h3 id="question4" class="about-header"><b>How was the Tech Maturity model created?</b></h3><br>
			<p class="text-justify">During a large scale migration project, we took note of the patterns that made deploying to a new environment challenging for many teams. We ended up creating a punch list of barriers preventing teams from achieving continuous delivery. During initial research, we found that the existing models didn’t address the pain points felt by most teams, so...we created our own!</p><br>

			<h3 id="question5" class="about-header"><b>What does the “cloud readiness” score mean?</b></h3><br>
			<p class="text-justify">The gauge indicates the cloud readiness of the product in reference to the minimum capabilities we feel are required to run natively in the public cloud. Teams can prepare for running efficiently in the public cloud by bringing their score up to 100%.</p><br>

			<h3 id="question6" class="about-header"><b>What is considered a “product” in Tech Maturity?</b></h3><br>
			<p>Here’s how we think about Products at Ticketmaster:<br><br>
			<b>Product:</b><br>
			<p>Product (product line / product family) is a marketable entity that delivers the primary investment or business value.</p>
			<b>Component:</b><br>
			<p>Component is a service or major component within the product line / marketable product that powers and enables its clients to use the product functionality or features e.g. input and output endpoints.</p><br>
			<b>Subcomponent:</b><br>
			<p>Subcomponent is a deployable package, if the component breaks down into multiple packages, or the underlying data services or data stores that fuel or support the components e.g. database.</p><br>

			<h3 id="question7" class="about-header"><b>How do I contribute to the open source project?</b></h3><br>
			<p class="text-justify"><a href="<%= github_path %>">Visit our GitHub project </a>for more information on how you can get started and contribute. Have any questions or want to know how you can help? We'd love to <a href="<%= contact_path %>">hear from you!</a></p><br>

			<h3 id="question8" class="about-header"><b>Suggestions / Feedback</b></h3><br>
			<p>We’d love to hear from you! Reach out to us <a href="<%= contact_path %>">here</a></p>
			
		</div>
		<div class="about-right-pane">
			<ul>
				<li><a href="#question1">What is Tech Maturity?</a></li>
				<li><a href="#question2">How can an organization use this data to drive innovation?</a></li>
				<li><a href="#question3">How can teams use this data?</a></li>
				<li><a href="#question4">How was the Tech Maturity model created?</a></li>
				<li><a href="#question5">What does the “cloud readiness” score mean?</a></li>
				<li><a href="#question6">What is considered a “product” in Tech Maturity?</a></li>
				<li><a href="#question7">How do I contribute to the open source project?</a></li>
				<li><a href="#question8">Suggestions / Feedback</a></li>
			</ul>
			<br>
			
		</div>
	</div>
</div>
<!--
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head> 
<h1 class="heading-lined heading-lined--primary">About Techmaturity</h1> 

<div class="main-about-content">
	<div class= "left_content_box">
	<h1 class="heading-lined heading-lined--primary">About Techmaturity</h1>

	<h1>Getting to Innovation Faster</h1><br>
	<p >Tech Maturity is an open source portal that measures the progress and maturity of their product allowing companies of any size to:</p>
	<ul>
		<li>Spend more time innovating, and less time being “busy” with repetitive, manual tasks</li>
		<li>Use a common set of standards to drive business results</li>
		<li>Increase visibility for better decision making</li>
		<li>Gravitate towards consistency across teams and products</li>
		<li>Use standard components over custom-built solutions</li>
		<li>Invest in fixing root causes and not just the symptoms</li>
	</ul>	
	<p>Tech Maturity helps us identify growth opportunities to eliminate waste, set clearly defined targets, and measure progress all while we work toward the ultimate goal of continuous delivery.</p>
	<p>The model charts a clear path that can be completed in stages and allows flexibility for progressing through five key dimensions of software development: Code, Build & Test, Release, Operate, and Optimize.</p>
	<p>For Ticketmaster’s move to the public cloud, the model served as a “cloud readiness" gauge that quantifies how close a product is to being ready for migration. This was achieved by establishing targets for a subset of capabilities that we believe define the minimum requirements for any product or service in the public cloud. This gives teams who own legacy products a clear goal to work toward that they can easily track. It also allows the company to operate in a decentralized, self-service way so that teams can run with their migrations without delay.</p>
	<p>You can’t tell if you’re winning without a scoreboard, so we created a portal to gather, aggregate, and display patterns from the data assembled and made it visible to everyone in the company. Strategically, Tech Maturity provides a key indicator of our performance so that we can continually make value-driven improvements.</p>
	<p>The best thing about our model is that it does not prescribe solutions. Rather, it offers standards with an aim to give teams a clear path towards efficient product development at scale. The model can be easily tailored to meet your specific needs. Ticketmaster has technology ranging from the 1970’s to today, and we have been able to successfully apply this model to products ranging from VAX code to JavaScript libraries. It’s a great vehicle for sharing and rallying around a common vision</p>
	<p>We’re excited to see the response from the community, and are thrilled to share this tool with others.</p>

	<h1>Frequently.Asked.Questions</h1><br>
	<ul>
		<li><a href="#question1">What is Tech Maturity?</a></li>
		<li><a href="#question2">How is this data used by the company?</a></li>
		<li><a href="#question3">How can I use this data?</a></li>
		<li><a href="#question4">How was the Tech Maturity model created?</a></li>
		<li><a href="#question5">What does the “cloud %” gauge on the detail page mean?</a></li>
		<li><a href="#question6">What is considered a “product” in Tech Maturity?</a></li>
		<li><a href="#question7">How was the list of products created?</a></li>
		<li><a href="#question8">What should I expect during a guided Tech Maturity assessment?</a></li>
		<li><a href="#question9">Can I self-assess the rest of my products?</a></li>
		<li><a href="#question10">How do I get my information updated?</a></li>
		<li><a href="#question11">I have a new product, but it’s not showing up. How do I get it added to this list?</a></li>
		<li><a href="#question12">Suggestions / Feedback</a></li>
	</ul>
	<br>
	<h3 id="question1"><b>What is Tech Maturity?</b></h3><br>
	<p>Tech Maturity values automation, repeatability, and visibility over manual, repetitive tasks. The Tech Maturity model represents a set of standards for product delivery teams to target as part of feature development. When teams de-prioritize these standards, they accept the risk of paying “tax” later in the form of fighting fires, longer release cycles, and limited visibility into the health and performance of the product. By investing time to remove these distractions from occurring in the first place, teams find that they have more time to put towards what they love most...building awesome products that delight our clients and fans!</p><p>Simply put, Tech Maturity helps teams identify growth opportunities for their products by eliminating waste, prepare for the AWS migration, and “level up” to the ultimate goal: continuous delivery.</p>

	<h3 id="question2"><b>How is this data used by the company?</b></h3><br>
	<p>Tech Maturity represents the prioritization of where we want to be as a tech company. We will use this data to gain insight and visibility into our product portfolio and infrastructure footprint to make data-based decisions around strategic investments that “level up” maturity across the company.</p><p>Delivery teams can assess their products to determine growth opportunities which are tracked in the quarterly portfolio review process. Based on the scores, products are given a cloud readiness rating and teams can use the data to help inform their roadmap as they prepare for AWS migration.</p><br>

	<h3 id="question3"><b>How can I use this data?</b></h3><br>
	<p>Convincing a Product or Business Owner why time should be prioritized towards initiatives that are often considered "tech tasks" can be difficult, especially when unarmed with the facts. The Tech Maturity model is designed to be a tool for teams to justify the work to improve their technology.</p><p>Equipped with this data, you can now negotiate for prioritization by using the argument “if we invest X amount of time improving our test suite, we will get back the X amount of time wasted on manual tests every release." Now, that’s a compelling argument anyone can get behind!</p><br>

	<h3 id="question4"><b>How was the Tech Maturity model created?</b></h3><br>
	<p>During the pre-prod environment project, we took note of the patterns that made deploying to a new environment challenging for many teams. We ended up creating a punch list of barriers preventing teams from achieving continuous delivery. During initial research, we found that the existing models didn’t address the pain points felt by most teams, so...we created our own!</p><p>Tech Maturity is a framework customized for Ticketmaster based on our observations, and countless conversations with individuals across the company. We understand that things will (and should!) change as we continue to improve our practices, so the model continues to be fine-tuned based on the feedback we receive during the assessments.</p><br>

	<h3 id="question5"><b>What does the “cloud %” gauge on the detail page mean?</b></h3><br>
	<p>The gauge indicates the cloud readiness of the product in reference to the <a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?title=Minimum+Tech+Maturity+Standards+for+AWS+Migration&spaceKey=AWS">AWS Minimum Tech Maturity Standards</a>. Teams can prepare for the AWS migration by bringing their score up to 100%.</p><br>

	<h1>Frequently.Asked.Questions</h1><br>
	<ul>
		<li><a href="#question1">What is Tech Maturity?</a></li>
		<li><a href="#question2">How is this data used by the company?</a></li>
		<li><a href="#question3">How can I use this data?</a></li>
		<li><a href="#question4">How was the Tech Maturity model created?</a></li>
		<li><a href="#question5">What does the “cloud %” gauge on the detail page mean?</a></li>
		<li><a href="#question6">What is considered a “product” in Tech Maturity?</a></li>
		<li><a href="#question7">How was the list of products created?</a></li>
		<li><a href="#question8">What should I expect during a guided Tech Maturity assessment?</a></li>
		<li><a href="#question9">Can I self-assess the rest of my products?</a></li>
		<li><a href="#question10">How do I get my information updated?</a></li>
		<li><a href="#question11">I have a new product, but it’s not showing up. How do I get it added to this list?</a></li>
		<li><a href="#question12">Suggestions / Feedback</a></li>
	</ul>
	<br>
	<h3 id="question1"><b>What is Tech Maturity?</b></h3><br>
	<p>Tech Maturity values automation, repeatability, and visibility over manual, repetitive tasks. The Tech Maturity model represents a set of standards for product delivery teams to target as part of feature development. When teams de-prioritize these standards, they accept the risk of paying “tax” later in the form of fighting fires, longer release cycles, and limited visibility into the health and performance of the product. By investing time to remove these distractions from occurring in the first place, teams find that they have more time to put towards what they love most...building awesome products that delight our clients and fans!</p><p>Simply put, Tech Maturity helps teams identify growth opportunities for their products by eliminating waste, prepare for the AWS migration, and “level up” to the ultimate goal: continuous delivery.</p>

	<h3 id="question2"><b>How is this data used by the company?</b></h3><br>
	<p>Tech Maturity represents the prioritization of where we want to be as a tech company. We will use this data to gain insight and visibility into our product portfolio and infrastructure footprint to make data-based decisions around strategic investments that “level up” maturity across the company.</p><p>Delivery teams can assess their products to determine growth opportunities which are tracked in the quarterly portfolio review process. Based on the scores, products are given a cloud readiness rating and teams can use the data to help inform their roadmap as they prepare for AWS migration.</p><br>

	<h3 id="question3"><b>How can I use this data?</b></h3><br>
	<p>Convincing a Product or Business Owner why time should be prioritized towards initiatives that are often considered "tech tasks" can be difficult, especially when unarmed with the facts. The Tech Maturity model is designed to be a tool for teams to justify the work to improve their technology.</p><p>Equipped with this data, you can now negotiate for prioritization by using the argument “if we invest X amount of time improving our test suite, we will get back the X amount of time wasted on manual tests every release." Now, that’s a compelling argument anyone can get behind!</p><br>

	<h3 id="question4"><b>How was the Tech Maturity model created?</b></h3><br>
	<p>During the pre-prod environment project, we took note of the patterns that made deploying to a new environment challenging for many teams. We ended up creating a punch list of barriers preventing teams from achieving continuous delivery. During initial research, we found that the existing models didn’t address the pain points felt by most teams, so...we created our own!</p><p>Tech Maturity is a framework customized for Ticketmaster based on our observations, and countless conversations with individuals across the company. We understand that things will (and should!) change as we continue to improve our practices, so the model continues to be fine-tuned based on the feedback we receive during the assessments.</p><br>

	<h3 id="question5"><b>What does the “cloud %” gauge on the detail page mean?</b></h3><br>
	<p>The gauge indicates the cloud readiness of the product in reference to the <a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?title=Minimum+Tech+Maturity+Standards+for+AWS+Migration&spaceKey=AWS">AWS Minimum Tech Maturity Standards</a>. Teams can prepare for the AWS migration by bringing their score up to 100%.</p><br>

	<h3 id="question6"><b>What is considered a “product” in Tech Maturity?</b></h3><br>
	<p>At the team level, Tech Maturity focuses on the products that each delivery team owns. In this context, a product is a separate piece of code that can be deployed independently. We like to call them “deployable code units” in the guided assessments.</p><p>At the portfolio management level, the “deployable code units” are considered to be a component or sub-component of what the business considers to be a top-level product (e.g. Order Bridge V3 is a component of Commerce Platform).</p><br>

	<h3 id="question7"><b>How was the list of products created?</b></h3><br>
	<p>Historically, Ticketmaster has not had a clear understanding of the products within its portfolio, where they are hosted, and who is responsible for supporting them. This is due to the scale at which we operate, disparate data sources, and the lack of centralized repository for this information.</p><p>We have now captured knowledge of Ticketmaster’s products, broken down into components with basic information such as ownership, business priority, and category and stored the information in a centralized place called Product Search. We created this tool to prevent the data from going stale and ensure it was transparent and available to everyone. Product Search is a proof-of-concept to hold us by until the <a href="https://contegixapp1.livenation.com/confluence/display/LT/XB.9.2+Product+Inventory+Management">Product Inventory Management</a> system (PIM) is released. PIM is focused on delivering a centralized 'source of truth' for Ticketmaster products and asset associations, with the ability to extend to future attributes such as Tech & Team Maturity. We can use this data to gain insight and visibility into our infrastructure footprint and product portfolio to make better investment decisions.</p><p>Notice a theme here? All of the <a href="https://contegixapp1.livenation.com/confluence/display/LT/Goal+XB.9+-+Simplify+the+Software+Factory">Simplify the Software Factory</a> (SSF) initiatives are interrelated and designed to move the company towards continuous delivery.</p><br>

	<h3 id="question8"><b>What should I expect during a guided Tech Maturity assessment?</b></h3><br>
	<p>Tech Maturity assessments are casual gatherings that begin with an overview on the process and benefits for the team. The list of products will be reviewed to make sure that we're not missing anything and then we dive in! During the assessment, a document is shared on Zoom and updated as self-assessments are given. Any questions on what certain capabilities mean, or the rationale behind them, will be addressed live during the session.</p><p>In conclusion, the team will receive a copy of the results on this website (usually on the same day).</p><p>Once a team has completed a guided assessment, they are now trained on the process and can maintain the document independently. Tech Maturity for products will be tracked in the goal review meetings run by the Portfolio Team, so teams should communicate their goals and progress to their Bet / Goal owners.</p><p>Ready to get started? See: <a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?title=How+to+schedule+a+Tech+Maturity+Assessment&spaceKey=AWS">How to Schedule a Tech Maturity Assessment</a></p><br>

	<h3 id="question9"><b>Can I self-assess the rest of my products?</b></h3><br>
	<p>Since this is a tech initiative, products should be assessed by a tech lead on the team who has already been trained to ensure we get a consistent baseline reading across all products. As this is an early version of the Tech Maturity model there are a few things that require explanation, as they might be ambiguous and open to interpretation, so we are requiring that all new teams are guided if it’s their first time. Moving forward they can maintain their scores and assess any new products created in the future.</p><p>Please read through the <a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?title=How+to+schedule+a+Tech+Maturity+Assessment&spaceKey=AWS">How to Schedule a Tech Maturity assessment</a> page before proceeding on your own.</p><br>

	<h3 id="question10"><b>How do I get my information updated?</b></h3><br>
	<p><b>Product information</b> - send an email outlining the changes to <a href="mailto:productinventory@ticketmaster.com">productinventory@ticketmaster.com</a> which will go into the TOC JIRA queue. Please include "Product Inventory Change Request" in the subject line. The request must include: the full product name, the desired field to change and the exact value that should be set. <br> <b>Tech maturity scores</b> - Teams can self-manage this data in the system by viewing their product and clicking on the link at the top right which says "Edit Scores". Update your scores by simply clicking on the new level for each capability that has changed. Once complete, click the "Save Scores" link at the top right.</p><br>

	<h3 id="question11"><b>I have a new product, but it’s not showing up. How do I get it added to this list?</b></h3><br>
	<ol>
		<li><a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?spaceKey=AWS&title=Obtaining+a+Product+Code+%28PRD+%23%29+for+AWS+Tagging">Request a product code</a> from the Portfolio team</li>
		<li>Notify TOC at <a href="mailto:productinventory@ticketmaster.com">productinventory@ticketmaster.com</a> and include “New Product - {productname}” in the subject line. The request must include some <a href="https://contegixapp1.livenation.com/confluence/pages/viewpage.action?spaceKey=AWS&title=Obtaining+a+Product+Code+%28PRD+%23%29+for+AWS+Tagging">basic information</a> to be useful for incident management.</li>
	</ol><br>

	<h3 id="question12"><b>Suggestions / Feedback</b></h3><br>
	<p>We’d love to hear from you! Contact us <a href="<%= contact_path %>">here</a></p>
</div>

--> 
