<div class="page__content subheader">
	<h1 class="pull-left">New Asset</h1> 
	<%= link_to 'Cancel', products_path, class: "button button--dngr pull-right" %>
</div>
<div class="page__content main-content">
	<%= render 'form', product: @product %>
</div>
